<div class="container mt-4">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-primary"><i class="fa fa-pen"></i> Edit Contact</p>
            <p class="fst-italic">
                description
            </p>
        </div>
    </div>
</div>

<!-- <pre>{{contact | json}}</pre> -->
<!--Edit contact form-->
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form (submit)="submitUpdate()">
                <!-- <div class="mb-2">
                    <input [(ngModel)]="contact.name" [value]="contact.name" name="name" type="text" class="form-control" placeholder="Name">
                </div> -->
                <div class="mb-2">
                    <input [(ngModel)]="contact.name" [value]="contact.name" name="Name" type="text" class="form-control" placeholder="Photourl">
                </div>
                <div class="mb-2">
                    <input [(ngModel)]="contact.photo" [value]="contact.photo" name="photo" type="text" class="form-control" placeholder="Photourl">
                </div>
                <div class="mb-2">
                    <input [(ngModel)]="contact.email" [value]="contact.email" name="email" type="text" class="form-control" placeholder="Email Id">
                </div>
                <div class="mb-2">
                    <input [(ngModel)]="contact.mobile" [value]="contact.mobile" name="mobile" type="number" class="form-control" placeholder="Mobile No">
                </div>
                <div class="mb-2">
                    <input [(ngModel)]="contact.company" [value]="contact.company" name="company" type="text" class="form-control" placeholder="Company">
                </div>
                <div class="mb-2">
                    <input [(ngModel)]="contact.title" [value]="contact.title" name="name" type="text" class="form-control" placeholder="Title">
                </div>
                <div class="mb-2">
                    <select [(ngModel)]="contact.groupId" [value]="contact.groupId" name="groupId" class="form-control">
                        <option value="">Select a Group</option>
                        <option [value]="group.id" *ngFor="let group of groupsup">{{group.name}}</option>
                    </select>
                </div>
                <div class="mb-2"> 
                    <input type="submit" class="btn btn-primary" value="Update">
                    <a routerLink="/" class="btn btn-warning ms-2">Close</a>
                </div>
                <!-- <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Name">
                </div> -->
            </form>
        </div>
        <div class="col-sm-4">
            <img [src]="contact.photo" alt="" class="contact-img">
        </div>
    </div>
</div>